@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
    
}
html, body{
    height: 100%;
    width: 100%;

}
#page1{
    min-height: 100%;               /*to cover all the content of page*/
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
}
nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 2em;
}

.navButtons{
    display: flex;
    position: relative;
    gap: 1vh;
   
    align-items: center;
    
    
}
.navButtons p{
    background-color: ;
    font-weight: 100;
    font-family: neu;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 45px;
    width: 90px;
    border: 1px solid rgb(191, 190, 190);
    border-radius:50px ;
    
    text-decoration: none;
    color: black;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: black;
    z-index: 10;
    
}
p::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all 0.3s ease-in ;
}
p:hover a{
    color: white;
}

p:hover::after{
    bottom: 0;
    border-radius: 0;
    
}
main{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center
}
#leftContent{
    font-family: neu;
    font-weight: 800;
    padding: 5vh;
    height: 100%;
    display: flex;
    align-items: end;
}
#bigContent{
    text-align: right;
    font-weight: bolder;
    display: flex;
    color: #0B0500;
    font-family: neu;
    height: 100%;
    align-items: center;
    padding: 5vh;
    font-size: 10vh;
    align-items: end;
    line-height: 17vh;
    
}
hr{
    width: 95%;
    margin-top: 2vw;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
#video1{
    display: flex;
    justify-content: center;
}
video{
    width: 97%;
    border-radius: 30px;
    margin-top: 65px;
    padding-left: 10px;
    padding-right: 10px;
    object-fit: cover;
}

























